<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"
    <title>Login</title>
    <!--<script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.js"></script>-->
    <!--<script>-->
      <!--console.log('hello js')-->
    <!--</script>-->
</head>
<body>
    <h1>Login</h1>
    <h2>Hello {{username}}</h2>
    <form class="pure-form pure-form-stack" action="/login" method="post">
        <input id="id-input-username" type="text" name="username" placeholder="username">
        <br/>
        <input id="id-input-password" type="text" name="password" placeholder="password">
        <br/>
        <button id="id-button-submit" type="submit">Login</button>
        <br/>
        <a href="/register">Register</a>
        <br/>
    </form>

    {{result}}
</body>
</html>